<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="MyExceptionsFile" fileName="logs/exceptions.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="MySearchFile" fileName="logs/search.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>

        <File name="MyInputErrorsFile" fileName="logs/input_errors.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>

    <loggers>
        <logger name="exLogger" level="warn" additivity="false">
            <appenderRef ref="MyExceptionsFile"/>
        </logger>
        <logger name="searchLogger" level="info" additivity="false">
            <appenderRef ref="MySearchFile"/>
        </logger>
        <logger name="errorLogger" level="error" additivity="false">
            <appenderRef ref="MyInputErrorsFile"/>
        </logger>
    </loggers>
</configuration>